.header{
    background-color: #0093E9;
    background-image: linear-gradient(183deg, #0093E9 0%, #80D0C7 100%);
    align-items: center;
    gap: 10px;
}
.chartParenrt{
    width: 800px;
    /* height: 800px; */
}
